<nav style="display: inline-block; border: 2px white solid;">
<a><%= link_to "View/Create Listings", listings_path, {:style=>'color: white;'} %></a>
<a><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
</nav>